
@{
    ViewBag.Title = "Index";
}
    <div>
        <h2>Reports</h2>
        <a href="@Url.Action("Inventory", "Reports")">
            <p>Inventory Report</p>
        </a>
        <a href="@Url.Action("Sales", "Reports")">
            <p>Sales Report</p>
        </a>
    </div>


